---
// /src/pages/index.astro
import SpotTable from '../components/SpotTable.astro';
import { getSpots } from '../data/getSpots';
import "../styles/tailwind.css";

const spots = await getSpots();
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>センチメンタルグラフティ　データ・スポット</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="p-4">
    <h1 class="text-4xl font-bold mb-4">センチスポット一覧</h1>
    <p class="mb-4">『センチメンタルグラフティ』のゲーム背景に使われた場所のご案内</p>
    <SpotTable {spots} />
  </body>
</html>
