---
import SpotRow from './SpotRow.astro';
import type { Spot } from '../data/types';

const { spots } = Astro.props;

if (!spots) {
  throw new Error('`spots` が SpotTable に渡されていません。');
}
---

<table class="w-full text-sm">
  <thead class="hidden md:table-header-group bg-gray-100">
  <tr>
    <th class="border px-2 py-1 w-12">番号</th>
    <th class="border px-2 py-1 w-24">所在地</th>
    <th class="border px-2 py-1 w-40">スポット画像</th>
    <th class="border px-2 py-1">場所名<span class="text-xs">（簡易説明）</span></th>
    <th class="border px-2 py-1 w-60">地図<span class="text-xs">（ストリートビューのリンク）</span></th>
  </tr>
  </thead>
  <tbody id="spotTableBody">
  {spots.map((spot: Spot) => (
      <SpotRow spot={spot} />
  ))}
  </tbody>
</table>
